/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

header {
	color: #00BCD4;
	height: 56px;
	margin: 0 0 14px 0;
	text-align: center;
}

p {
	margin: 8px 0 0 0;
}

.login-btn{
    text-align: center;
   
}

.header1{
    color:rgba(0, 188, 212, 1)!important;
}

#login-btn{
    color: #ffffff;
    background-color: gray;
    border-color: #285e8e;
    padding: 10px;
    width:250px;
    margin: auto;
}
#login-btn img{
    margin-right: 4px;
}
.login-btn a{
    text-decoration: none;
}
.login-btn a:hover #login-btn{
     background-color: darkgray;
}
.login-btn h1{
    
}
.new-poll{
    width:50%;
    margin: auto;
}

.radio-val{
    font-weight: bold;
}

.btn-outline-primary{
    color: #428bca;
    background-color: transparent;
    border: 1px solid #428bca;
    transition: all .5s;
    font-stretch: expanded;
    font-size: 1em;
    font-weight: 100;
   

}

.btn-outline-delete{
    color: red;
    background-color: transparent;
    border: 1px solid red;
    transition: all .5s;
    font-stretch: expanded;
    font-size: 1em;
    font-weight: 100;

}

.jumbotron{
    background-color: #fff;
    
}

.btn-twitter {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1c95d0;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active {
  color: #ffffff;
  background-color: #0271bf;
}

.navbar {min-height:100px !important;}
.navbar-brand{
    font-size: 1.3em;
}
.navbar-nav > li > a {
    padding-top:30px !important; 
    padding-bottom:30px !important;
    font-size: 1.3em;
    color: black!important;
  
}
.navbar-nav > li > a:hover{
    color:#fff!important;
}

.navbar-header{
     min-height: 100px;
       color: white;
       border-right: rgba(51,124,225, 0.2) solid 1px ;
       padding: 5px 10px;
}
.navbar-header a{
    text-decoration: none;
     color: white;
}
#my-header 
{
   min-height: 100px;
    background-color: rgba(0, 188, 212, 1);
}
.poll-list div{
     margin-bottom: 10px;
     margin-top: 10px;
     
}
.profile-tab{
    width: 250px;
}
.profile-tab tr td:first-child 
{
  text-align: right;
  font-weight: 500;
 
}
.profile-tab tr td:last-child 
{
      text-align: center;
    font-weight: 500;
    color: rgba(0, 188, 212, 1);
}

.ques-class{
    text-decoration: none;
    font-weight: 500;
    
} 